body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  padding-top: 56px;
}

.jumbotron {
  background-image: url('../img/hero.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: white;
  padding: 100px;
  height: 500px;
}

.jumbotron h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar {
  transition: 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: #f8f9fa;
  transition: 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 20px;
}

.card-info h2 {
  margin-bottom: 10px;
  color: #333;
}

.card-info p {
  margin: 0;
  color: #666;
}

.btn-reservar {
  background-color: #006400;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}

.btn-reservar:hover {
  background-color: #004d00;
}

.carousel-item .card {
  width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.carousel-item .card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-item .card .card-body {
  padding: 20px;
}

.carousel-item .card .btn-reservar {
  padding: 10px 20px;
}
