{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Cabañas</title>
</head>
<body>
    <div class="container">
        {% for cabaña in datos %}
            <div class="card">
                <img src="{{ cabaña.imagen.url }}" alt="{{ cabaña.descripcion }}">
                <div class="card-info">
                    <h2>{{ cabaña.descripcion }}</h2>
                    <p>Precio: ${{ cabaña.precio|floatformat:0}} Por día</p>
                    <p>Capacidad: {{ cabaña.capacidad }} personas</p>
                </div>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>