{% extends 'layout.html' %}
{% block content %}
<h2>Reservas de {{ cliente.username }}</h2>
<table class="reservas-table">
    <thead>
        <tr>
            <th>Cabaña</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Acción</th> <!-- Nueva columna para el botón -->
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
        <tr>
            <td>{{ reserva.cabaña.descripcion }}</td>
            <td>{{ reserva.fecha_inicio }}</td>
            <td>{{ reserva.fecha_fin }}</td>
            <td>
                <a href="{% url 'web:pagar' reserva.reserva_id%}" class="btn btn-primary">Pagar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay reservas para este cliente.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}